header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr repeat(2, 40px);
  grid-template-rows: 1fr;
  grid-column-gap: 0.8rem;
  grid-row-gap: 0;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding-inline: var(--padding-inline);
  backdrop-filter: blur(20px);
  border-bottom: solid thin var(--header-border);
  background-color: var(--header-background);
  z-index: 1100;
}

header .header-logo {
  height: 40px;
}

header .header-logo .path {
  fill: var(--btn-color);
}

header .header-logo:active .path {
  filter: brightness(1.1);
}
