.wrapper-search {
  width: 100%;
  min-height: 100vh;
}

.wrapper-search header {
  width: 100%;
  padding: 48px 24px 12px 24px;
}

.wrapper-search header .movies-search {
  transform: translateY(0) !important;
}

.wrapper-search header .results {
  margin-top: 1.5rem;
  font-size: 24px;
  font-weight: 400;
  color: var(--font);
}

.wrapper-search main {
  width: 100%;
  padding: 48px 24px;
}

.wrapper-search div[id='visor'] {
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}
