html {
  background-color: var(--color-app);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div[id='root'] {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}

.App {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 100vh;
}

:is(.wrapper-home, .wrapper-detail, .wrapper-not-found, .wrapper-rated, .wrapper-search) {
  width: 100%;
  min-height: 100vh;
}

.MuiSnackbarContent-root {
  background-color: var(--snackbar-background) !important;
  border: solid 1px var(--snackbar-background-border) !important;
  color: var(--font) !important;
  font-size: 14px !important;
}

@media screen and (max-width: 580px) {
  .App {
    display: block;
  }

  :is(
    .wrapper-home,
    .wrapper-detail,
    .wrapper-not-found,
    .wrapper-rated,
    .wrapper-search
  ) {
    min-height: calc(100vh - 60px);
  }
}
